In [1]:
'''  What is 7 to the power of 4?
'''

'  What is 7 to the power of 4?\n'

In [2]:
7**4

2401

In [3]:
''' Split this string:**

s = "Hi there Yogesh!"
**into a list. ** '''

' Split this string:**\n\ns = "Hi there Yogesh!"\n**into a list. ** '

In [4]:
s = " Hi there yogesh !"

In [5]:
s.split()

['Hi', 'there', 'yogesh', '!']

In [6]:
'''  Given the variables:**

planet = "Earth"
diameter = 12742
** Use .format() to print the following string: **

The diameter of Earth is 12742 kilometers.'''

'  Given the variables:**\n\nplanet = "Earth"\ndiameter = 12742\n** Use .format() to print the following string: **\n\nThe diameter of Earth is 12742 kilometers.'

In [7]:
planet = "Earth"
diameter = 12742

In [8]:
print("The diameter of {} is {} kilometers.".format(planet ,diameter))

The diameter of Earth is 12742 kilometers.

In [9]:
''' Given this nested list, use indexing to grab the word "hello" **

lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]'''

' Given this nested list, use indexing to grab the word "hello" **\n\nlst = [1,2,[3,4],[5,[100,200,[\'hello\']],23,11],1,7]'

In [10]:
list = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

In [11]:
list[3][1][2][0]

'hello'

In [1]:
''' What is the main difference between a tuple and a list?'''

' What is the main difference between a tuple and a list?'

In [2]:
# Tuple is immutable and list is mutable

In [3]:
'''  Create a function that grabs the email website domain from a string in the form: **

user@domain.com
So for example, passing "user@domain.com" would return: domain.com

 '''

'  Create a function that grabs the email website domain from a string in the form: **\n\nuser@domain.com\nSo for example, passing "user@domain.com" would return: domain.com\n\n '

In [6]:
def fun(mailID):
        splits=mailID.lower().split('@')
        return splits[1]

In [7]:
fun('mayurghorpade10@gmail.com')

'gmail.com'

In [8]:
'''  Create a basic function that returns True if the word 'dog' is contained in the input string. Don't worry about edge cases like a punctuation being attached to the word dog, but do account for capitalization.'''

"  Create a basic function that returns True if the word 'dog' is contained in the input string. Don't worry about edge cases like a punctuation being attached to the word dog, but do account for capitalization."

In [9]:
def find_dog(sentense):
    splits = sentense.lower().split()
    return 'dog' in splits

In [11]:
find_dog(' Is there a dog here ?')

True

In [12]:
'''  Create a function that counts the number of times the word "dog" occurs in a string. Again ignore edge cases. '''

'  Create a function that counts the number of times the word "dog" occurs in a string. Again ignore edge cases. '

In [13]:
def count_dog(sentense):
    dogcount = 0
    splits =sentense.lower().split()
    for i in splits :
        if 'dog'==i:
            dogcount=dogcount+1
    return  dogcount

In [14]:
count_dog('This dog runs faster than the other dog dude !')

2

In [15]:
''' Use lambda expressions and the filter() function to filter out words from a list that don't start with the letter 's'. For example:**

seq = ['soup','dog','salad','cat','great']
should be filtered down to:

['soup','salad']'''

" Use lambda expressions and the filter() function to filter out words from a list that don't start with the letter 's'. For example:**\n\nseq = ['soup','dog','salad','cat','great']\nshould be filtered down to:\n\n['soup','salad']"

In [16]:
seq = [ 'soup','dog','salad','cat','great']

In [17]:
list(filter(lambda x : x[0]!= 's', seq))

['dog', 'cat', 'great']

In [18]:
''' You are driving a little too fast, and a police officer stops you. Write a function to return one of 3 possible results: "No ticket", "Small ticket", or "Big Ticket". If your speed is 60 or less, the result is "No Ticket". If speed is between 61 and 80 inclusive, the result is "Small Ticket". If speed is 81 or more, the result is "Big Ticket". Unless it is your birthday (encoded as a boolean value in the parameters of the function) -- on your birthday, your speed can be 5 higher in all cases.'''

' You are driving a little too fast, and a police officer stops you. Write a function to return one of 3 possible results: "No ticket", "Small ticket", or "Big Ticket". If your speed is 60 or less, the result is "No Ticket". If speed is between 61 and 80 inclusive, the result is "Small Ticket". If speed is 81 or more, the result is "Big Ticket". Unless it is your birthday (encoded as a boolean value in the parameters of the function) -- on your birthday, your speed can be 5 higher in all cases.'

In [19]:
def catch_speeding (speed, birthday):
    if birthday == True :
        speed = speed-5
    if speed > 80:
        return ' Big ticket '
    elif speed > 60:
        return ' small ticket '
    else:
        return ' no ticket '

In [21]:
catch_speeding(84,True)

' small ticket '

In [22]:
catch_speeding(86,True)

' Big ticket '

In [23]:
catch_speeding(83,False)

' Big ticket '

In [24]:
''' Question
Given a string print number num by extracting all the
digits from the string as in string
Print negative number if the first character in 
string is '-'
eg.
-123abcd should return -123,abcd456-->456,fdhfh78dsd89--->7889,-56dssd78-->-5678'''

" Question\nGiven a string print number num by extracting all the\ndigits from the string as in string\nPrint negative number if the first character in \nstring is '-'\neg.\n-123abcd should return -123,abcd456-->456,fdhfh78dsd89--->7889,-56dssd78-->-5678"

In [25]:
def print_numbers( sample_String):
    returnString=''
    for i in sample_String:
        if i=='-':
            returnString=returnString+i
        elif i in 'abcdefghijklmnopqrstuvwxyz':
            continue 
        else:
            returnString=returnString+i
    return returnString

In [26]:
print_numbers('-56dssd78')

'-5678'

In [27]:
''' Q2
WAP to check whether a number is palindrome or not on following 
conditions.
1. take input number
2. add number and its reverse
3. check that number is palindrome or not,if not then sum and its reverse'''

' Q2\nWAP to check whether a number is palindrome or not on following \nconditions.\n1. take input number\n2. add number and its reverse\n3. check that number is palindrome or not,if not then sum and its reverse'

In [29]:
n1=input("Enter the number:")
n2=int(n1[::-1])
n3=str(int(n1)+n2)
while n3!=n3[::-1]:
    n3=str(int(n3)+int(n3[::-1]))
    print(" Number is:",n3)
    print(" Reverse is ",n3[::-1])
print(" palindrome is",n3)

Enter the number:5356
 Number is: 31702
 Reverse is  20713
 Number is: 52415
 Reverse is  51425
 Number is: 103840
 Reverse is  048301
 Number is: 152141
 Reverse is  141251
 Number is: 293392
 Reverse is  293392
 palindrome is 293392

In [30]:
''' Write a python function to find and display the five 
digit number in which the first digit is two more than 
the second,the second digit is two more than the third,
the fourth digit is two less than the third, and the 
last digit is two more than
the fourth.The sum of the third,fourth and fifth digits
equals the first.The sum of all the digits is 19'''

' Write a python function to find and display the five \ndigit number in which the first digit is two more than \nthe second,the second digit is two more than the third,\nthe fourth digit is two less than the third, and the \nlast digit is two more than\nthe fourth.The sum of the third,fourth and fifth digits\nequals the first.The sum of all the digits is 19'

In [31]:
def find_five_digit():
    sum_of_all_required=19
    sum_of_all =0
    first =1
    second=0
    fourth=0
    fifth=0
    while (sum_of_all!=19):
        print(first)
        first=first+1
        second=2-first
        third=second-2
        fourth=2-third
        fifth=2+fourth
        sum_of_all=first+second+third+fourth+fifth
    five_digit=[first,second,third,fourth,fifth]
    return five_digit

In [32]:
''' Answer (75313) i know but failing to get it'''

' Answer (75313) i know but failing to get it'

In [33]:
find_five_digit()

1
2
3
4
5
6
7
8
9
10

[11, -9, -11, 13, 15]